# Ignore local node packages and builds
node_modules/
dist/
.env
.env.local

# Ignore backend folder from frontend docker context
backend/
users.db
qdrant_db/

# Ignore tests and local git configurations
tests/
.git/
.github/
.vscode/

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
